@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-family: "Nunito", sans-serif !important;
	font-size: 22px !important;
	color: #fff !important;
}

body {
	min-height: 100vh !important;
	background-color: dodgerblue !important;
	color: #fff !important;
	font-family: "Nunito", sans-serif !important;
}

.App {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	padding: 1rem 0.5rem;
}

.card {
	max-width: 65%;
	color: black;
}

.map {
	height: 75vh;
	width: 1100px;
	max-width: 1100px;
	margin-bottom: 50px;
}

.marker-delivery {
	background-image: url("https://i.imgur.com/tq2SBRI.png");
	background-size: cover;
	width: 50px;
	height: 50px;
	border-radius: 15px;
	border: solid darkslategrey 3px;
}

.marker-transporter {
	background-image: url("https://i.imgur.com/oz3r3Wq.png");
	background-size: cover;
	width: 50px;
	height: 50px;
	border-radius: 15px;
	border: solid darkslategrey 3px;
}

section {
	width: 100%;
	max-width: 420px;
	min-height: 400px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	padding: 1rem;
	background-color: rgba(0, 0, 0, 0.4);
}

.growWithChild {
	display: flex;
	background-color: rgba(0, 0, 0, 0.4);
	flex-direction: column;
	justify-content: flex-start;
	padding: 1rem;
}

.nonAuth {
	width: 100%;
	max-width: 1100px;
	min-height: 400px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	padding: 1rem;
	background-color: rgba(0, 0, 0, 0.4);
}

form {
	display: flex !important;
	flex-direction: column !important;
	justify-content: space-evenly !important;
	padding-bottom: 1rem !important;
}

a,
a:visited {
	color: #fff !important;
	text-decoration: none;
}

input[type="text"],
input[type="password"],
button,
textarea {
	font-family: "Nunito", sans-serif !important;
	font-size: 22px;
	padding: 0.25rem;
	border-radius: 0.5rem;
}

label,
button {
	margin-top: 1rem;
}

button {
	padding: 0.5rem;
}

li {
	list-style-type: none;
}

.instructions {
	font-size: 0.75rem;
	border-radius: 0.5rem;
	background: #000;
	color: #fff;
	padding: 0.25rem;
	position: relative;
	bottom: -10px;
}

.instructions > svg {
	margin-right: 0.25rem;
}

.offscreen {
	position: absolute;
	left: -9999px;
}

.hide {
	display: none;
}

.valid {
	color: limegreen;
	margin-left: 0.25rem;
}

.invalid {
	color: red;
	margin-left: 0.25rem;
}

.errmsg {
	background-color: lightpink;
	color: firebrick;
	font-weight: bold;
	padding: 0.5rem;
	margin-bottom: 0.5rem;
}

.line {
	display: inline-block;
}

.flexGrow {
	flex-grow: 1;
	display: flex;
	justify-content: flex-start;
	align-items: flex-end;
}

.persistCheck {
	font-size: 0.75rem;
	margin-top: 10px;
	display: flex;
	justify-content: flex-start;
	align-items: flex-end;
}

.persistCheck label {
	margin: 0;
}

[type="checkbox"] {
	height: 20px;
	width: 20px;
	margin: 0 5px 2px 2px;
}
